@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
  
:root{
  --background-color: #470047;
}

body {
  text-align: center;
  margin-top: 70px;
  font-family: "Pacifico";
  color: #ffadad;
  background-color: var(--background-color);
}

.behind-image {
  display: flex;
  width: 400px;
  height: 200;
  top: 50%;
  margin-top: -400px;
  left: 50%;
  margin-left: -530px;
  position: relative;
  background-position: center;
  z-index: 1;
}

.behind-image2 {
  display: flex;
  width: 140px;
  height: 35;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  margin-left: 200px;
  position: relative;
  background-position: center;
  z-index: 1;
}

.text {
  display: block;
  font-family: 'Indie Flower';
  color: #ffadad;
  font-weight: bold; 
  font-size: 15px;
  margin: -2.5px;
  margin-left: -330px;
  position: relative;
  text-align: center;
}

.square-video-container {
  height: 400px;
  width: 400px;
  padding: 10px;
  overflow: hidden;
  display: block;
  margin: 0 auto; 
  position: relative;
  z-index: 2;
}

.left-image {
  display: block;
  width: 200px;
  height: 30;
  top: 50%;
  margin-top: -95px;
  left: 50%;
  margin-left: 130px;
}

.right-image {
  display: block;
  width: 200px;
  height: 30;
  top: 50%;
  margin-top: -105px;
  left: 50%;
  margin-left: 1150px;
}

.square-video-container video {
  height: 400px;
  width: 400px;
  object-fit: cover; 
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
}

.yesButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "Indie Flower";
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #ffcecb;
  color: #ef4343;
  border-radius: 12px;
  border: 2px outset #ffcecb;
  box-shadow: 0px 4px 0px #ff9494;
  transition: 0.3s;
}

.yesButton:hover {
  background-color: #ff9494;
  color: #ffffff;
  border: 2px outset #ff9494;
  box-shadow: 1px 1px 2px #e86c6c;
  transform: translateY(4px);
  cursor: hand;
}

.noButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "Indie Flower";
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #dad9d9;
  color: rgb(146, 107, 126);
  border-radius: 12px;
  border: 2px outset #e8e0e0;
  box-shadow: 0px 4px 0px #a59b9b;
  transition: 0.3s;
}

.noButton:hover {
  background-color: #baaeae;
  color: #f9f1f1;
  border: 2px outset #baaeae;
  box-shadow: 1px 1px 2px #a59b9b;
  transform: translateY(4px);
  cursor: hand;
}